{% extends 'base.html.twig' %}

{% block title %}Hello MyAccountController!{% endblock %}

{% block body %}

<main>

<aside class="account-nav">

<a href="">Vérifier mon profil</a>
<a href="">Modifier mon profil</a>
<a href="">Paramètres de compte</a>

</aside>


</main>
{% endblock %}
