body {
    background-color: #F6F6F6;
    display: flex;
    margin-top: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
}

aside {
    width: 300px;

    padding: 50px 30px;
    height: 650px;
    /* background-color: rgba(185, 180, 180, 0.705); */
    /* border-right: 1px solid #3f3f442c; */
    background-color: white;
    border-radius: 30px;
    margin: 10px;

}

.account-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.account-nav a {

    font-weight: 600;
    border-radius: 8px;
    width: 250px;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    text-decoration: none;
    color: rgb(159, 74, 61);

}

.account-nav div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.linkIcon {
    width: 25px;
    height: 25px;
    background-color: antiquewhite;
}

.account-nav a:hover {
    /* background-color: #c0c1c59a; */
    color: rgb(173, 121, 121);
}

.account-nav a.active {
    /* color: #df6a52; */
    background-color: #FDCB9E;
}

/* 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

main {
    width: 1522px;
    padding: 0px 200px;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 38px;
    color: rgb(63, 61, 61);
    font-weight: 700;
}

.account-blocks {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
}

.account-blocks article {
    background-color: white;
    border-radius: 5px;
    box-shadow: rgb(219, 218, 218) 0px 1px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px;
}


.edit-img,
.text-block,
.edit-icon {
    height: 120px;
}

.edit-img {
    width: 170px;
    background-color: rgb(218, 142, 92);
}

.text-block {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.text-block p{
    color: rgb(153, 153, 152);
    font-size: 14px;
}

.edit-icon{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(218, 142, 92);
}