* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration-line: none;
}

main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.desktop-nav .logo {
    height: 57px;
}
/* ---------------------------------------------------------------- Navbar */

.mobile-header-subtitle {
    display: none;
}


nav {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 5px 1em;
    padding-bottom: 0.78%;
    margin: 0.52% 0px 0px 0px;
    width: 88vw;
    align-self: center;
    border-bottom: 1px solid #F6F6F6;
    position: relative;
    z-index: 99999;
}

.right-side-nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-button {
    width: fit-content;
    padding: 0px 30px;
    height: 51px;
    background-color: #FF866F;
    border-radius: 50px;
    border: solid 2px #FF866F;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.nav-button a {
    color: white;
}

.nav-button:hover a {
    color: white;
}

.nav-button:hover {
    background-color: #282F4B;
    border: solid 2px #282F4B;
    cursor: pointer;
    color: white;
}

.right-side-nav .nav-button:hover {
    background-color: #282F4B;
    color: white;
    border-color: #282F4B;
}

/* ---------------------------------------------------------------- Header */

.header-subtitle,
.m-header-subtitle {
    display: flex;
    margin-top: 0px;
    /* font-size: 20px; */
    gap: 8px;
    letter-spacing: 3px;
}

.header-subtitle p,
.m-header-subtitle p {
    color: #EB8072;
    font-weight: 400;

}

.header-subtitle span,
.m-header-subtitle span {
    color: #282F4B;
    font-weight: 400;

}

.header-form-section h1,
.mobile-header-subtitle h1 {
    letter-spacing: 1px;
    color: #FA6960;
    /* font-size: 62px; */
    font-weight: 600;
    margin-bottom: 0%;
}

header {
    display: flex;
    justify-content: center;
    /* gap: 50px; */
    align-items: center;
    margin-bottom: 50px;
}



.hero-container {
    display: inline;
    background-image: url(../img/hero.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 85vh;
}

.header-form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.header-form-section form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 320px;
    gap: 10px;
}

.header-form-section form input {
    border: #BDBDBD solid 2px;
    border-radius: 36px;
    padding: 10px 46px;
    background-color: #282f4b0b;
}

.header-form-section form input::placeholder {
    color: #AAA8AE;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 14px;

}


.input-adressIcon svg {
    width: 24px;
    height: 72px;
    position: absolute;
    left: 18px;
    top: 0;
}

.adress-input {
    position: relative;
}

/* header .nav-button{
    width: 570px;
    height: 72px;
} */

/* ---------------------------------------------------------------- Body */

/* ---------------------------------------------------------------- First section (avantages) */

.blue-section {
    /* height: 972px; */
    /* height: 110vh; */
    background-image: url(../img/blueBG.png);
    text-align: center;
}

.display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-1 div {
    text-align: center;
}

.section-1 h2 {
    color: #EB8072;
}

.section-1 p {
    color: white;
}




/* /////////////////      MENU BURGER        ///////////////////////// */

.burger-menu{
    position: absolute;
}
/* Burger Icon */
.burger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 9999999;
}

.burger-icon span {
    display: block;
    height: 3px;
    background-color: #282F4B;
    border-radius: 5px;
    transition: 0.3s;
}

#burger-toggle {
    display: none;
}

#burger-toggle:checked+.burger-icon span:nth-child(1) {
    transform: rotate(-45deg) translateY(11px);
}

#burger-toggle:checked+.burger-icon span:nth-child(2) {
    opacity: 0;
}

#burger-toggle:checked+.burger-icon span:nth-child(3) {
    transform: rotate(45deg) translateY(-12px);
}

/* Fullscreen Menu Overlay */
.burger-menu-overlay {
    position: fixed;
    /* padding-top: calc(50% - 66px); */
    justify-content: center;
    top: 73px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282F4B;
    background-image: url(../img/blueBG.png);
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    transition: opacity 0.3s;
}

.burger-menu-content ul {
    list-style: none;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
}

#burger-toggle:checked~.burger-menu-overlay {
    display: flex;
    opacity: 1;
}

.burger-menu-content a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.burger-menu-content a:hover {
    color: #FF866F;
}


/* Close Menu Styling */
.burger-menu-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.menu-section-title {
    color: #FF866F;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.burger-menu-content div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* section 1 version mobile */
.mobile-advantages-grid{
    display: none;
}

.desktop-advantages-grid{
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding: 10px;
    /* background-color: #FF866F;  */
}

.advantages-grid img {
    width: clamp(68px, 20%, 88px);
    aspect-ratio: 1 / 1; /* Définit un ratio carré */
    object-fit: contain; /* S'assure que l'image s'adapte bien à l'espace sans déformation */
    height: auto; /* Supprime les conflits éventuels */
}


div {
    max-width: 100vw;
}

.advantages-grid .desktop-advantages-grid div {
    border-radius: 15px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.desktop-advantages-grid .advantages-left-side-div {
    grid-row: 1 / span 1;
    grid-column: 1;
}

.desktop-advantages-grid .advantages-middle-top-div {
    grid-column: 2;
    grid-row: 1 / span 1;
}

.desktop-advantages-grid .advantages-middle-bottom-div {
    grid-column: 1;
    grid-row: 2 / span 1;
}

.desktop-advantages-grid .advantages-right-side-div {
    grid-row: 2 / span 2;
    grid-column: 2;
}



/* ---------------------------------------------------------------- Second section (types of cars) */


.section-1,
.section-2,
.section-3,
.section-4,
.section-5 {
    /* min-height: 892px; */
    width: 100vw;
    /* height: 926px; */
}

.section-2,
.section-4 {
    /* height: 110vh; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    color: #282F4B;
    font-weight: 600;
    letter-spacing: 5px;
}

hr {
    border: #FA6960 solid 2px;
    height: 0px;
}

.section-2-vehicles-mobile{
    display: none;
}

.section-2-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.section-2-vehicles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.section-2-vehicles,
.section-2-vehicles-names {
    max-width: 85vw;
    gap: 20px;
}

.section-2-vehicles-names {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.section-2-vehicles-names p {
    width: 400px;
    color: #FA6960;
    font-weight: 600;
    letter-spacing: 5px;
}

.section-2-vehicles img {
    margin: auto;
}

.section-2-vehicles img:hover {
    transform: scale(1.2);
    transition: transform 0.6s;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}



/* ---------------------------------------------------------------- Third section (Cities) */

.section-3 h2 {
    color: white;
}

.cities {
    display: flex;
    width: 100vw;
    max-width: 1620px;
    justify-content: space-evenly;
}

.section-3 {
    justify-content: space-evenly;
}

.section-3 .city {
    width: 13vw;
    min-width: 122px;
    max-width: 192px;
    height: 520px;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.464) 5px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3 .city:hover {
    filter: brightness(1.7);
}


.paris-city {
    background-image: url(../img/Cities/Paris.png);
}

.lyon-city {
    background-image: url(../img/Cities/Lyon.png);
}

.marseille-city {
    background-image: url(../img/Cities/Marseille.png);
}

.bordeau-city {
    background-image: url(../img/Cities/Bordeau.png);
}

.grenoble-city {
    background-image: url(../img/Cities/Grenoble.png);
}

.lille-city {
    background-image: url(../img/Cities/Lille.png);
}

.section-3 .city p {
    color: white;
    font-weight: 500;
    letter-spacing: 5px;
    padding: 0px 8px 0px 8px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.section-3 .city:hover p {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}




.section-4 {
    background-image: url(../img/whiteBG.png);
    /* background-size: 1441px 776px; */
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.section-4 .nav-button {
    background-color: #282F4B;
    border-color: #282F4B;
    position: absolute;
    /* top: 45%; */
}

.section-4 .nav-button:hover {
    background-color: #FF866F;
    border: solid 2px #282F4B;
    color: #282F4B;
}

.section-4-text h1 {
    color: #282F4B;
    /* font-size: 60px; */
    font-weight: bold;
}

.section-4-text {
    position: relative;
    top: 18%;
}

.section-4-text p {
    color: #282f4bb8;
    font-size: 18px;
    font-weight: 400;
}

.section-5 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-5 h2 {
    color: #EB8072;
}

.section-5 .carousel-box {
    display: flex;
    /* margin-left: 55px; */
    /* width: 100vw; */
    justify-content: center;
    gap: 20px;
}

.section-5 .review-block {
    display: flex;
    justify-content: center;
    width: fit-content;
    /* gap: 55px; */
}

.section-5-review-box {
    /* width: 400px;
    height: 380px; */
    border-radius: 15px;
    background-color: white;
    color: #555555;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-5-review-box .quote-icon {
    width: 50px;
    align-self: center;
}

.section-5-review-box p {
    /* width: 336px; */
    width: 85%;
    font-weight: 300;
}

.section-5-review-box span {
    color: #EB8072;
    font-weight: 500;
}

.section-5 .feather {
    place-self: center end;
}


footer {
    width: 90vw;
    max-width: 1520px;
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25%;
    align-self: center;
}

.footer-separator{
    display: none;
}

.footer-left-side div {
    display: flex;
    gap: 10px;
}

.footer-right-side {
    display: flex;
    justify-content: space-between;
    width: 921px;
    height: 174px;
}

.footer-right-side article {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


h3 {
    font-weight: 600;
    font-size: 20px;
}

h4 {
    font-weight: 400;
    font-size: 16px;
}


/* menu déroulant */
.menu-button {
    position: relative;
    display: flex;
}

.menu-button {
    cursor: pointer;
}


.menu {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 80px;
    /* right: 13%; */
    right: 4.1vw;
    width: 351px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.100);
    background-color: white;
    color: black;
    padding: 20px;
    font-weight: 400;
    z-index: 9999;
}

.clip-path-container {
    filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.100));
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.menu .clip-path {
    position: absolute;
    top: -8px;
    right: 43px;
    width: 16px;
    height: 8px;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

.menu li {
    display: block;
    padding: 10px;
    text-decoration: none;

}

.menu li:hover {
    font-weight: 600;
}

#menu-toggle:checked+.menu-button+.menu {
    display: block;
}

#menu-toggle {
    display: none;
}

.menu .user-infos {
    display: flex;
    gap: 20px;
}

.user-infos .user-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.menu .user-infos .right-side-user-infos {
    display: block;
}

.right-side-user-infos .user-name {
    font-size: 20px;
    font-weight: 500;

}

.right-side-user-infos a {
    font-size: 14px;
}

.logout-link {
    color: rgba(0, 0, 0, 0.664);
    margin-top: 10px;
}

.menu .owner-menu {
    height: 60px;
    /* background-color: red; */
    margin: 30px 0px;
    padding: 8px 0px;
    border: 1px solid rgba(0, 0, 0, 0.250);
    border-width: 1px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.toggle-owner-menu {
    width: 56px;
    height: 33px;
    background-color: #D9D9D9;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding-left: 2px;
    padding-right: 2px;
}

.toggle-owner-menu .circle-toggle-owner-menu {
    width: 29px;
    height: 29px;
    background-color: white;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.338) 0px 0px 5px;
}

.hidden {
    display: none;
}


.blue-form {
    padding: 100px 0px;
    width: 940px;
    background-color: #282F4B;
    border-radius: 20px 20px 20px 20px;
    gap: 50px;
}

.blue-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.blue-form form .nav-button {
    width: 100%;

}

.blue-form h2 {
    color: white;
}


/* edit user */
.blue-form h3 {
    color: white;
    align-self: flex-start;
    margin-bottom: 10px;
}


main {
    margin: 20px 0px;
}


.blue-form-div {
    gap: 15px;
    margin-bottom: 50px;
}

.blue-form-div label {
    display: block;
    color: white;
}

.hidden {
    display: none;
}



#dropdownMenu {
    position: absolute;
    margin-top: 4px;
    border-radius: 4px;
    background-color: white;
    box-shadow: #AAA8AE 2px 2px 2px;
    z-index: 10;
}

#dropdownResults {
    max-height: 200px;
    width: 291px;
    border-radius: 4px;
    outline: none;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    padding: 8px;
    font-size: 14px;
}

#dropdownResults li {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 10px;
}

#dropdownResults li:hover {
    background-color: #ddddddc3;
    font-weight: 500;
    cursor: pointer;
}

/* style cookies consent */

.cky-consent-container .cky-consent-bar {
    background-color: #282F4B !important;
    border-color: #282F4B !important;
}

.cky-title {
    color: white !important;
    font-weight: 400 !important;
}

.cky-notice-des {
    color: white !important;
    font-weight: 300 !important;
}

.cky-btn-accept {
    border-color: #FF866F !important;
    background-color: #FF866F !important;
}

.cky-btn-reject,
.cky-btn-customize,
.cky-btn-preferences {
    border-color: #FF866F !important;
    color: #FF866F !important;
}

.cky-show-desc-btn {
    color: #282F4B !important;
    font-weight: 600 !important;
}

.cky-revisit-bottom-left {
    display: none;
}




/* BREAKPOINTS MEDIA QUERIES ///////////////////////////////////////////////////////////////////////  */

@media screen and (max-width: 480px) {}


@media screen and (max-width: 768px) {
    .hero-container {
        background-image: url(../img/hero.jpg);
        width: 100%;
        background-position: center center;
        background-size: contain;
        height: clamp(300px, 40%, 454px);
        aspect-ratio: 16 / 9;
        /* Maintient une proportion fixe pour l'image */
        height: auto;

    }

    header {
        flex-direction: column-reverse;
        /* padding: 0px 10px; */
        justify-content: space-evenly;
        /* margin-top: 50px; */
        height: calc(100vh - 68px);
    }

    nav {
        align-items: center;
    }

    

    /* Afficher menu burger et cacher navbar desktop */
    .burger-icon {
        display: flex;
    }

    .right-side-nav {
        display: none;
    }

    /* Mobile title */

    .mobile-header-subtitle {
        display: inline-block;
    }

    .mobile-header-subtitle h1 {
        font-size: clamp(32px, 6vw, 42px);
    }

    .header-subtitle,
    .header-h1-title {
        display: none;
    }

    .m-header-subtitle p {
        font-size: clamp(20px, 4vw, 24px);
    }



    /*  Mobile Form */
    .header-form-section {
        width: clamp(336px, 85vw, 406px);
    }

    .header-form-section form {
        width: 100%;
        height: fit-content;
    }

    .header-form-section form input {
        width: 100%;
        height: clamp(50px, 7vw, 66px);
        box-sizing: border-box;
    }

    .header-form-section form input::placeholder {
        font-size: clamp(13px, 3vw, 14px);
    }

    .input-adressIcon svg {
        height: clamp(50px, 7vw, 66px);
    }

    .date-input {
        width: 100%;
        box-sizing: border-box;
    }

    .header-form-section form .date-input input {
        width: 49%;
        box-sizing: border-box;
        padding: 10px 20px;
    }


    header .nav-button {
        width: 100%;
        height: clamp(50px, 7vw, 66px);
    }




    /* section 1 advantages-grid */

    .section-1{
        height: 100vh;
    }
    .advantages-grid {
        display: flex;
        flex-direction: column;
    }

    .desktop-advantages-grid .advantages-grid div {
        width: 100%;
        background-color: transparent;
        display: flex;
    }

    .section-1 p{
        width: 310px;
        font-size: 14px;
    }
    .section-1 h2{
        font-size: 30px;
    }

    .advantages-grid h3 {
        font-size: 16px;
    }

    .advantages-grid {
        font-size: 14px;
    }

    .desktop-advantages-grid{
        display: none;
    }

    .section-1{
        height: 100vh;
    }

    .burger-menu{
        position: relative;
    }

    .mobile-advantages-grid{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        justify-content: space-between;
        gap: 40px;
        align-items: center;
        width: 90vw;
    }

    .mobile-advantages-grid article{
        display: flex;
        gap: clamp(10px, 5vw, 50px);
        justify-content: center;
        width: 100%;
    }

    .mobile-advantages-grid article div h3{
        font-size: 15px ;
    }
    .mobile-advantages-grid article div{
        display: flex;
        flex-direction: column;
        text-align: end;
        color: white;
        
    }
    .mobile-advantages-grid article div p{
        font-weight: 200;
        font-size: 12px;
        width: 240px;
    }

    .mobile-advantages-separator{
        width: clamp(300px, 75vw, 350px);
        border: none;
        height: 1px;
        background-color: #b3b1b142;
    }



    /* section 2 */

    .section-2 {
        height: 100vh;
    }

    .section-2 h2 {
        font-size: clamp(15px, 2.5vw, 20px);
        width: 350px;
        text-align: center;
    }
    .section-2-title hr {
        display: none;
    }

    .section-2-vehicles-mobile img {
        width: 30vw;
        min-width: 170px;
        max-width: 200px;
    }

    .section-2-vehicles-mobile p{
        font-size: clamp(14px, 1.5vw, 16px);
        color: #FA6960;
        font-weight: 600;
        letter-spacing: 5px;
        width: fit-content;
    }
    .section-2-vehicles-mobile div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-2-vehicles{
        flex-direction: column;
    }

    .section-2-vehicles-mobile{
        display: flex;
        flex-direction: column;
        /* gap: 25px; */
        gap: clamp(30px, 3vh, 40px);
    }

    .section-2-desktop{
        display: none;
    }


    /* section 3 cities */

    .section-3{
        height: 100vh;
    }
    .section-3 h2{
        font-size: clamp(18px, 4vw, 22px);
        width: 350px;
    }

    .cities {
       flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .cities .city{
        width: 70%;
        min-width: 275px;
        height: 10vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paris-city {
        background-image: url(../img/Cities/Paris-mobile.png);
    }
    
    .lyon-city {
        background-image: url(../img/Cities/Lyon-mobile.png);
    }
    
    .marseille-city {
        background-image: url(../img/Cities/Marseille-mobile.png);
    }
    
    .bordeau-city {
        background-image: url(../img/Cities/Bordeau-mobile.png);
    }
    
    .grenoble-city {
        background-image: url(../img/Cities/Grenoble-mobile.png);
    }
    
    .lille-city {
        background-image: url(../img/Cities/Lille-mobile.png);
    }



    /* section 4 */

    .section-4 {
        background-image: none;
        height: 100vh;
        justify-content: space-evenly;
    }

    .section-4 img {
        width: 390px;
        width: clamp(370px, 60vw, 450px);
    }
    .section-4-text {
       position: static;
    }
    .section-4-text p {
       font-size: 14px;
       width: 310px;
    }

    .section-4 .nav-button {
        width: 204px;
        position: relative;
        height: clamp(55px, 9vw, 66px)
    }

    .section-4-text h1 {
        font-size: clamp(18px, 4vw, 22px);
    }

    /* section 5 */

    /* section 5 */

    .section-5{
        height: 100vh;
        flex-direction: column;
    }

    .section-5 h2{
        font-size: clamp(18px, 4vw, 22px);
        width: 350px;
    }

    .section-5 .review-block {
        gap: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-5-review-box .quote-icon {
        width: 15%
    }

    .section-5-review-box {
        /* width: 280px;
        height: 266px; */
        justify-content: space-evenly;
        width: clamp(200px, 32vw, 250px);
        height: auto;
        aspect-ratio: 1/1;
    }

    .section-5-review-box p {
        font-size: 12px;
        height: 126px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* footer */

    footer {
        flex-direction: column;
        width: 90vw;
        height: fit-content;
        gap: 25px;
    }
    
    .footer-left-side div {
        display: flex;
        gap: 10px;
    }
    .footer-left-side p {
        display: none;
    }
    
    .footer-right-side {
        flex-direction: column;
        gap: 35px;
        height: fit-content;
        width: 100vw;
        margin: 0px 15px;
    }
    
    .footer-right-side article {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .footer-separator{
        display: flex;
        width: clamp(300px, 75vw, 350px);
        border: none;
        height: 1px;
        background-color: #000000;
        z-index: 99999;
    }

}







@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-container {
        background-image: url(../img/hero_tab.jpg);
        width: 50%;
        /* min-width: 479px;
        min-height: 600px;
        max-width: 550px;
        max-height: 550px; */
        background-position: center center;
        height: 100%;
    }

    header {
        justify-content: end;
        padding-left: 20px;
        gap: 30px;
        height: calc(100vh - 77px);
    }

    .header-form-section h1 {
        font-size: clamp(28px, 4vw, 42px);
    }


    .header-subtitle {
        font-size: 12px;
        width: 100%;
        display: inline-block;
    }

    .header-subtitle p {
        width: 160px;
    }

    .header-form-section {
        width: 40vw;
    }

    .header-form-section form {
        width: 100%;
    }

    .header-form-section form input {
        /* width: 310px; */
        width: 100%;
        height: clamp(46px, 7vw, 66px);
        box-sizing: border-box;
    }

    .input-adressIcon svg {
        height: clamp(46px, 7vw, 66px);
        ;
    }

    .date-input {
        width: 100%;
        box-sizing: border-box;
    }

    .header-form-section form .date-input input {
        width: 49%;
        box-sizing: border-box;
        padding: 10px 20px;
    }


    header .nav-button {
        width: 100%;
        height: clamp(46px, 7vw, 66px);
    }


    .section-1{
        height: calc(100vh - 77px);
    }
    .mobile-advantages-grid{
        display: none;
    }

    .advantages-grid .desktop-advantages-grid div {
        width: 35vw;
        height: 27vh;
        max-height: 225px;
        padding: 10px;
    }

    .advantages-grid h3 {
        font-size: 16px;
    }

    .advantages-grid {
        font-size: 14px;
    }

    /* section 2  */

    .section-1, .section-2 {
        height: 100vh;
    }

    .section-2 h2 {
        font-size: clamp(15px, 2.5vw, 20px);
    }
    .section-2-title hr {
        display: none;
    }

    .section-2-vehicles img {
        width: 30%;
        min-width: 150px;
        max-width: 306px;
    }

    .section-2-vehicles-names p{
        font-size: clamp(14px, 1.5vw, 16px);
    }


    /* section 3 cities */

    .section-3{
        height: 100vh;
    }

    .cities {
       flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }

    .cities .city{
        width: 70%;
        min-width: 538px;
        height: 10vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paris-city {
        background-image: url(../img/Cities/Paris-mobile.png);
    }
    
    .lyon-city {
        background-image: url(../img/Cities/Lyon-mobile.png);
    }
    
    .marseille-city {
        background-image: url(../img/Cities/Marseille-mobile.png);
    }
    
    .bordeau-city {
        background-image: url(../img/Cities/Bordeau-mobile.png);
    }
    
    .grenoble-city {
        background-image: url(../img/Cities/Grenoble-mobile.png);
    }
    
    .lille-city {
        background-image: url(../img/Cities/Lille-mobile.png);
    }


    /* section 4 */

    .section-4 {
        background-size: 1025px 576px;
        height: 100vh;
    }

    .section-4 img {
        width: 342px;
    }

    .section-4 .nav-button {
        width: 162px;
        height: 57px;
        font-size: 14px;
        top: 60.3%;
    }

    .section-4-text h1 {
        font-size: 40px;
    }

    /* section 5 */

    .section-5{
        height: 100vh;
    }
    .section-5 .review-block {
        gap: 25px;
        margin-left: 35px;
        width: 90vw;
    }

    .section-5-review-box .quote-icon {
        width: 18%
    }

    .section-5-review-box {
        /* width: 280px;
        height: 266px; */
        width: clamp(250px, 32vw, 280px);
        height: auto;
        aspect-ratio: 1/1;
    }

    .section-5-review-box p {
        font-size: 14px;
        height: 126px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-5 .feather {
        width: 35px;
        height: 35px;
    }

}



@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5 {
        height: 100vh;
    }

    .header-form-section h1 {
        font-size: 42px;
    }

    .header-subtitle {
        font-size: 12px;
    }

    .header-form-section form input {
        width: 310px;
        height: 42px;
    }

    .date-input {
        width: 406px;
    }

    .header-form-section form .date-input input {
        width: 103px;
    }


    header .nav-button {
        width: 406px;
        height: 62px;
    }

    .advantages-grid {
        height: 477px;
    }

    .advantages-grid .desktop-advantages-grid div {
        width: 27vw;
        height: 27vh;
        max-height: 225px;
        padding: 10px;

    }

    .advantages-grid h3 {
        font-size: 16px;
    }

    .advantages-grid {
        font-size: 14px;
    }

    .section-3 .city p {
        font-size: 16px;
    }

    .section-4 {
        background-size: 1025px 576px;
    }

    .section-4 img {
        width: 342px;
    }

    .section-4 .nav-button {
        width: 162px;
        height: 57px;
        font-size: 14px;
        top: 60.2%;
    }

    .section-4-text h1 {
        font-size: 40px;
    }

    .section-5 .review-block {
        gap: 25px;
    }

    .section-5-review-box {
        width: 280px;
        height: 266px;
    }
   

    .section-5 .feather {
        width: 35px;
        height: 35px;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1329px) {

    .hero-container {
        background-image: url(../img/hero_tab.jpg);
        width: 50%;
        min-width: 479px;
        min-height: 600px;
        max-width: 550px;
        max-height: 550px;
        background-position: center center;
    }


    header {
        justify-content: end;
        gap: 10%;
        padding-left: 50px;
    }

    .section-2-vehicles img {
        width: 30%;
        min-width: 200px;
        max-width: 306px;
    }

    /* .section-5-review-box {
        width: 25%;
        height: 23%;
        min-width: 256px;
        max-width: 400px;
        min-height: 236px;
        max-height: 380px;
        margin-left: 0px;
        gap: 0px;
    }

    .section-5 .carousel-box .review-block {
        gap: 30px;
    } */

    hr {
        width: 150px;
    }

    .section-2 h2 {
        font-size: 20px;
    }

}

@media screen and (min-width: 1441px) {

    .section-1,
    .section-2,
    .section-3,
    .section-4,
    .section-5 {
        height: 926px;
    }

    .section-4 {
        background-size: 1441px 776px;
    }

    .section-4 img {
        width: 445px;
    }

    .section-4 .nav-button {
        width: 204px;
        height: 72px;
        top: 52.5%;
    }

    .section-4-text h1 {
        font-size: 60px;
    }

    .section-5 .review-block {
        gap: 55px;
    }

    .section-5-review-box {
        width: 400px;
        height: 380px;
    }

}

@media screen and (min-width: 1441px) and (max-width: 1620px) {

    .header-form-section h1 {
        font-size: 52px;
    }

    .header-subtitle {
        font-size: 16px;
    }

    .header-form-section form input {
        width: 400px;
        height: 42px;
    }

    .date-input {
        width: 496px;
    }

    .header-form-section form .date-input input {
        width: 149px;
    }

    header .nav-button {
        width: 496px;
        height: 62px;
    }

    .section-3 .city p {
        font-size: 24px;
    }

}

@media screen and (min-width: 1330px) and (max-width: 1620px) {

    .hero-container {
        width: 58%;
        min-width: 800px;
        min-height: 590px;
        max-width: 1120px;
        max-height: 800px;
    }


    .advantages-grid {
        height: 477px;
    }


    div {
        max-width: 100vw;
    }

    .advantages-grid .desktop-advantages-grid div {
        width: 355px;
        height: 228px;

    }

    h2 {
        width: fit-content;
        font-size: 26px;

    }

    hr {
        width: 320px;
    }

    .section-2-vehicles img {
        width: 300px;
    }

    .section-2-vehicles-names p {
        font-size: 24px;
    }

    /* .section-3 .city {
        width: 192px;
    } */

}

@media screen and (min-width: 1621px) {


    .header-form-section h1 {
        font-size: 52px;
    }

    .header-subtitle {
        font-size: 16px;
    }

    .hero-container {
        width: 58%;
        min-width: 800px;
        min-height: 590px;
        max-width: 1120px;
        max-height: 800px;
    }

    .header-form-section form input {
        width: 478px;
        height: 52px;
    }

    .date-input {
        width: 572px;
    }

    .header-form-section form .date-input input {
        width: 187px;
    }

    header .nav-button {
        width: 570px;
        height: 72px;
    }

    .advantages-grid {
        height: 569px;
    }

    .advantages-grid .desktop-advantages-grid div {
        width: 420px;
        height: 274px;
    }

    h2 {
        font-size: 32px;
        width: fit-content;
    }


    hr {
        width: 391px;
    }

    .section-2-vehicles,
    .section-2-vehicles-names {
        gap: 50px;
    }

    .section-2-vehicles img {
        width: 376px;
    }

    .section-2-vehicles img {
        width: 30%;
        min-width: 200px;
        max-width: 376px;
    }

    .section-2-vehicles-names p {
        font-size: 28px;
    }

    .section-3 .city p {
        font-size: 24px;
    }

    /* .section-5 .carousel-box {
        margin-left: 55px;
    } */



}