/* Structure principale */
.content-container {
    width: 95%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 20px;
    max-height: 84vh;
    overflow: auto;
}

@media screen and (min-width: 1025px) {

    .content-container{

        max-height: 75vh;
        overflow: auto;
    }
    
}

/* Boutons */
.btn {
    width: 96px;
    padding: 5px 10px;
    font-size: 0.9em;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-edit {
    background-color: #FF866F;
    color: #ffffff;
}

.btn-toggle-status {
    background-color: #282F4B;
    color: #ffffff;
}

.btn-delete {
    background-color: #e74c3c;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}



/* Edit FORMS */

form {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 15px; */
    margin-top: auto;
    margin-bottom: auto;
}

form .form-group{
display: flex;
flex-direction: column;
align-items: center;
/* gap: 15px; */
}

label {
    display: block;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.edit-input {
    width: 60vw;
    margin: 8px 0 16px;

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.edit-input:focus {
    border-color: #FF866F;
    outline: none;
    box-shadow: 0 0 4px rgba(255, 134, 111, 0.4);
}
/* 
select{
    width: 100% !important;
    height: 44px !important;
} */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Images dans formulaires EDIT */
.profile-picture {
    height: 200px;
    width: 180px;
    background-color: #ffffff;
}

.profile-picture img {
    width: 180px;
    height: auto;
}

.profile-picture div {
    overflow: hidden;
}

.profile-picture-block {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* back links (retour en arriere) */
.form-submit-block{
    display: flex;
    width: calc(50% + (126.56px / 2));
    align-self: flex-start;
    justify-content: space-between;
}

.back-link {
    display: inline-block;
    margin-top: 15px;
    color: #282F4B;
    text-decoration: none;
    font-weight: bold;

}

.back-link:hover {
    color: #FF866F;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* password input eye */
.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    color: #666;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* form error style */
.form-error, .alert-error{
    font-size: 14px;
    color: red;
    list-style-type: none;
    max-width: 395px;
}
.form-error ul{
    list-style-type: none;
    margin-top: 3px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Image du véhicule */
.vehicle-image {
    width: 80px;
    height: 80px;
    background-color: #282F4B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.vehicle-image img {
    width: 80px;
    height: 80px;
    background-color: #282F4B; /* Dark blue color */
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none !important;
    }


    .admin-dashboard-content {
        margin: auto;
        max-width: 90%;
        padding: 25px;
        overflow: unset;
    }

    .container {
        margin: 0px !important;
        box-shadow: none !important;
    }

    .dashboard-title {
        font-size: clamp(1rem, 3vw, 1.5rem) !important;
    }

    body {
        background-color: #f4f6f8;
    }

    .back-link {
        position: absolute;
        top: 60px;
        left: -0.5%;
        width: 300px;
    }

    .form-submit-block {
        position: relative;
        justify-content: flex-end !important;
    }

    .form-container {
        width: 80%;
       
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 20px;
        padding-bottom: 60px;

    }

    .form-step-2{
        gap: 20px;
        display: flex;
        flex-direction: column;
    }

    .form-container form{
        margin-top: 0;
    }

    .form-container .nav-button {
        background-color: #282F4B;
        border: none;
        font-size: 16px;
        font-weight: bold;
        padding: 12px 25px;
        height: 49px;
    }

    .nav-button {
        height: 47px;
        background-color: #282F4B;
        border: none;
        font-size: 16px;
        font-weight: bold;
    }

    .profile-picture {
        height: 200px;
        width: 180px;
        background-color: #f6f6f6 !important;
        border: 1px solid #e5e5e5;
    }

    .form-step-2 .profile-picture-block{
        flex-direction: column;
    }
    .form-step-2 .profile-picture-block .profile-picture{
        height: 60px;
        width: 100%;
    }

    textarea#description_description{
        width: 80%;
        height: 200px;
    }

    form[name="description"] div{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    


}
