.profile-container {
    width: 100%;
    align-items: baseline;
    padding-top: 10px;
}

.left-side-profile {
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
}

.user-image-section {
    display: flex;
    gap: 50px;
    background-color: #EB8072;
    width: 1400px;
    padding: 15px;
    border-radius: 30px;
}

.user-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
}

.user-personal-info {
    display: flex;
    gap: 100px;
}

.personal-info-section input {
    background-color: #e2e1e1;
}

.personal-info-section label {
    display: block;
}

h3 {
    margin-bottom: 30px;
}