/* Global Style */

.alert {
    max-width: 400px;
    color: red;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    max-height: 100vh;
}

.all-vehicles-container {
    width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
}

/* Search Bar Section */
.search-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100vw;
}

.search-header .search-header-input {
    width: 1043px;
    gap: 10px;
    padding: 10px 0px;
    display: flex;
}

.search-header-input,
.filters {
    margin-left: 20px;
}

input, select {
    box-sizing: border-box;
}

.filters select,
.filters #search_totalPrice::placeholder,
.filters #search_totalPrice {
    color: #FA6960;
    height: 47px;
    font-weight: 600;
}

.search-header input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
}

.date-container {
    display: flex;
    gap: 10px;
}

.filters {
    display: flex;
    gap: 10px;
    border-bottom: 1px #ddd solid;
    border-top: 1px #ddd solid;
    padding: 10px 0;
}

.filter-btn {
    padding: 10px 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    width: 194px;
}

.filter-btn:hover {
    background-color: #f1f1f1;
}

/* Main Content Section */
.main-container {
    width: 100%;
    height: 610px;
    display: flex;
    gap: 8px;
    padding: 0 20px;
}

/* Vehicle List */
.vehicle-list {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 591px;
    overflow-y: auto;
}

.vehicle-item {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #00000012;
    transition: transform 0.2s, box-shadow 0.2s;
    display: flex;
    padding-right: 10px;
    gap: 30px;
    height: 220px;
}

.vehicle-item:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.vehicle-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 20px 10px;
}

.vehicle-info h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #282F4B;
}

.vehicle-info strong {
    color: #282F4B;
}

.reserve-button {
    padding: 10px 20px;
    background-color: #EB8072;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.reserve-button:hover {
    background-color: #d96d61;
}

.bottom-infos {
    display: flex;
    justify-content: space-between;
}

.bottom-infos strong {
    display: flex;
    align-items: center;
}

.bottom-infos strong img {
    margin-right: 3px;
}

.vehicle-info hr {
    width: 90%;
    border: none;
    background-color: #cacaca72;
    height: 1px;
}

/* Right-side Blue Placeholder */
.blue-box {
    flex: 3;
    height: 631px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
}

/* Dark blue image placeholder */
.vehicle-image {
    width: 290px;
    height: 220px;
    background-color: #282F4B;
    /* Dark blue color */
    border-radius: 10px 0px 0px 10px;
    object-fit: cover;
}

/* Stars and Rating */
.vehicle-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.vehicle-rating .stars {
    color: #f5b50a;
    font-size: 18px;
    margin-right: 5px;
}

.vehicle-rating span {
    font-size: 14px;
    color: #555;
}

/* Vehicle Details */
.vehicle-details {
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 14px;
    margin-bottom: 10px;
    padding-right: 70px;
}

.vehicle-details div span {
    display: block;
    margin-bottom: 5px;
}



/* Price Section */
.vehicle-price {
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 10px;
    /* background-color: #EB8072; */
    background-color: #FF3726;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 11px;
}

.vehicle-price p {
    font-weight: 300;
}

.vehicle-price:hover {
    background-color: #282F4B;
}

.search {
    width: 396px;
}

@media (min-width: 769px) {
    .search-header-desktop {
        display: block;
    }
    .search-header-mobile{
        display: none;
    }
}




/* Scrollbar personnalisée pour .container */
.vehicle-list::-webkit-scrollbar {
    width: 11px;
    margin-top: 5px;
}

.vehicle-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.vehicle-list::-webkit-scrollbar-thumb {
    background: #282F4B;
    border-radius: 5px;
}









@media (max-width: 768px) {
    .blue-box {
        display: none;
    }

    .all-vehicles-container{
        justify-content: center;
    }

    .search-header-input, .filters {
        display: flex;
        flex-direction: column;
    }

    .date-container {
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
    }

    .search-container {
        display: flex;
        width: 100%;
    /* align-items: center; */
        justify-content: center;
    }


    .main-container {
        width: 100%;
        height: 610px;
        display: flex;
        gap: 8px;
        padding: 0px;
    }

    .vehicle-item {
        background-color: white;
        border-radius: 10px;
        border: 1px solid #00000012;
        transition: transform 0.2s, box-shadow 0.2s;
        display: flex;
        padding-right: 0px;
        gap: 0px;
        height: auto;
        flex-direction: column;
    }

    .vehicle-image {
        /* width: 390px; */
        width: clamp(370px, 70vw, 390px);
        height: 220px;
        background-color: #282F4B;
        object-fit: cover;
        max-width: 420px;
        border-radius: 10px 10px 0px 0px;
    }

    .vehicle-info hr{
        margin-bottom: 10px;
    }

    .main-container {
        /* width: 100%; */
        height: 610px;
        /* display: flex; */
        /* gap: 8px; */
        /* padding: 0 20px; */
    }

    .vehicle-list {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 10px;
        height: 591px;
        overflow-y: visible;
    }

    .search-header{
        display: none;
    }

    .search-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .search-container .search,  .date-container-mobile{
        width: 90vw;
        max-width: 420px;
    }

    .search-header-input-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 0px 15px;
    }

    .date-container-mobile {
        display: flex;
        justify-content: space-between;
       
    }
    .search-header input {
        font-size: clamp(13px, 3vw, 14px)
       
    }

    .filter-btn{
        width: clamp(140px, 35vw, 170px);
    }

    #openFiltersMobile {
        width: fit-content;
    }

    /* Pop-up des filtres */
.filters-popup-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.filters-popup-mobile.hidden-mobile {
    display: none;
}

.filters-content-mobile {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 50px;
}

.filters-content-mobile .filter-btn{
    width: 180px;
}

.close-filters-btn-mobile {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    float: right;
    align-self: flex-end;
}

.filter-input-mobile {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


}
