/* Liste des véhicules */
.vehicle-item {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 2px 4px 8px;
    padding: 15px;
    margin-bottom: 20px;
    width: 97%;
    gap: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.vehicle-item:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 2px 6px 12px;
}

/* Image du véhicule */
.vehicle-image {
    width: 80px;
    height: 80px;
    background-color: #282F4B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.vehicle-image img {
    width: 80px;
    height: 80px;
    background-color: #282F4B;
    /* Dark blue color */
    border-radius: 10px;
}

/* Informations du véhicule */
.vehicle-item h3 {
    font-size: 18px;
    color: #282F4B;
    margin-bottom: 10px;
}

.vehicle-item p {
    margin: 5px 0;
    color: #555;
}

.vehicle-item strong {
    color: #282F4B;
}

/* Boutons d'actions */
.item-actions {
    display: flex;
    gap: 8px;
}

.no-vehicles {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 50px;
}

.btn {
    padding: 8px 12px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.btn.cancel-button {
    background-color: #FF6347;
}

.btn.modify-button {
    background-color: #6495ED;
}

.btn:hover {
    opacity: 0.85;
}

a.nav-button {
    height: 47px;
    background-color: #282F4B;

    background-color: #282F4B;
    border: none;
    font-size: 16px;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .sidebar {
        display: none !important;
    }

    .vehicle-item .mobile-none {
        display: none;
    }

    .vehicle-item {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        max-width: 90%;

    }

    .vehicle-item h3 {
        font-size: clamp(14px, 4vw, 18px)
    }

    .vehicle-item p {
        font-size: clamp(13px, 3.5vw, 15px)
    }

    .admin-dashboard-content {
        margin: auto;
        max-width: 90%;
        padding: 20px 0;
        height: calc(100vh - 126px) !important;
        overflow: auto;
        gap: 0;
    }

    .container {
        margin: 20px !important;
    }

    .content-container {
        max-width: 100%;
        background-color: #F6F6F6;
        box-shadow: none;
        padding: 0;
        margin: 0;
        overflow: unset;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .item-actions {
        display: none;
    }

    .content-container .nav-button {
        margin-top: 15px;
    }


}