.step-indicators {
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 22px;
    /* margin-bottom: 20px; */
}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    transition: background-color 0.3s;
}

.step.active {
    background-color: #FF866F;
}


.profile-verification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
    height: 70vh;
}

.profile-verification .form-step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}


.verifying-form-block {
    display: flex;
    flex-direction: column;
}

