{% extends 'base.html.twig' %}

{% block title %}Subscribe{% endblock %}

{% block body %}



<div class="subscribe-form display-center">
 {% include 'user/_partials/_form.html.twig'%}

</div>
{% endblock %}

